__pycache__/
.DS_Store
Test.py
Vector.py
GeneticAlgorithmTargetImagePolygons.py
QueensCollege/
QueensCollege2/
Tardis/
GiantsCauseway/
Capaldi/
BiggarScotland/
Earth/
Queen/
Buckbeak/
UK/
TowerBridge/
bm.json
Joker/
IronMan/
God/
Batmobile/
PeakDistrict/
TubeStock/
VanGogh/
WalesDam/
Benji/
Shard/
Sonic/
Pier/
NewZealand/
MinacTheatre/
Sun/
TeslaS/
Thanos/
Catalina/
Benedict/
VideoTest/